:root {
    font-size: 17px;
    font-weight: normal;
    line-height: 1.5;
    font-family: "Superior";
    --background-color: rgb(255, 254, 252);
    --page-padding: 1rem;
    background: var(--background-color);
    --link-color: #000000;
}

 .container {
    display:flex;
    margin-top: 2rem;
    position: relative;
    min-height: 90vh;
 }

main {
    margin-left: 1rem;
    margin-right: 1rem;
    overflow-wrap: break-word;
}

.post {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 45rem;
}


.fakemain {
    margin: 0px;
    padding: 0px;
}

h3 {
    text-align: left;
    font-size: 18pt;
}

a {
    color: var(--link-color);
    text-decoration: underline dotted;
}

a.visited {
    color: var(--link-color)    
}

.page-width {
	max-width: 60rem;
}

.page-padding {
	padding: 0 var(--page-padding);
}

@font-face {
    font-family: "Superior";
    src: url("/lt_superior/LTSuperior-Light.ttf") format("truetype"),
    url("/lt_superior/LTSuperior-LightItalic.ttf") format("truetype"),
    url("/lt_superior/LTSuperior-Bold.ttf") format("truetype"),
}

@counter-style my-decimal {
  system: extends decimal;
  suffix: ". ";
}


/* mobile */
@media (max-width: 1000px) {
	:root {
		--page-padding: .3rem;
	}

    .container {
      flex-direction: column;
      align-items: center;
    }

    main {
        margin: 0px;
    }

    .fakemain {
        overflow: visible;
        /* max-width: 100%; */
    }
}