:root {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    /* background: red; */
    background-image: url("../altbg.png");
    font-family: Courier;

    --page-padding: 1rem;

    --text-color: #3a3221;
}

/* mobile */
@media (max-width: 500px) {
	:root {
		--page-padding: .3rem;
	}	
}

main {
    background: linear-gradient(whitesmoke,rgba(255, 255, 255, 0));
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 2rem;
    width: 70%;
 }

a {
    color: var(--text-color)
}

a.visited {
    color: var(--text-color)    
}
.page-width {
	max-width: 60rem;
}

.page-padding {
	padding: 0 var(--page-padding);
}